html {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overscroll-behavior-x: none;
}

button,
a,
input,
select,
textarea {
  touch-action: manipulation;
}